:root {
  --default-btn: #007bff;
  --default-btn-hover: #0055ff;
  --delete-btn: #dc3545;
  --delete-btn-hover: #c82333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f4f4f4;
}

.header a, .notifications-link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.header a:hover, .notifications-link:hover {
  color: #f2f2f2;
}

.search-loading,
.no-users {
  margin: 30px 7px 7px 7px;
}

.main-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}

.main-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info h2, .post-section h3 {
  margin-bottom: 10px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.post-author, .comment-author, .like-link, .remaining-likes, .post-recipient {
  font-weight: 700;
  text-decoration: none;
}

.comment-section {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px;
}

.delete-post, .delete-notification-btn {
  background-color: var(--delete-btn);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-notification-btn {
  font-size: 12px;
  padding: 4px 4px;
  margin-left: 2px;
}

.delete-post:hover, .delete-notification-btn:hover {
  background-color: var(--delete-btn-hover);
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.like-button,
.comment-button {
  background-color: var(--default-btn);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.like-button:hover,
.comment-button:hover {
  background-color: var(--default-btn-hover);
}

.likes {
  margin-right: 10px;
}

.comments {
  margin-top: 10px;
}

.comments-container {
  padding: 10px;
}

.comments-container textarea, .post-form textarea {
  font-family: inherit;
  font-size: 14px;
}

.show-more-comments-button, .submit-comment-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--default-btn);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-comments-button:hover, .submit-comment-btn:hover {
  background-color: var(--default-btn-hover);
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.comments button {
  background-color: var(--default-btn);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.comments button:hover {
  background-color: var(--default-btn-hover);
}

.comment-content {
  margin: 10px 0px 10px 0px;
}

.date {
  color: rgb(105, 105, 105);
  font-size: 14px;
}

.form-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

:root {
  --primary-color: #3498db;
  --success-color: #28a745;
}

.login-button,
.register-button {
  background-color: var(--success-color);
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
  background-color: #169033;
}

.login-register-text,
.register-login-text {
  margin-top: 15px;
  font-size: 15px;
}

.login-register-text a,
.register-login-text a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.edit-profile-button, .save-changes-btn, .return-btn {
  background-color: var(--default-btn);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.edit-profile-button:hover, .save-changes-btn:hover, .return-btn:hover {
  background-color:var(--default-btn-hover);
}

.inactive {
  cursor: not-allowed;
  opacity: 0.7;
}

.inactive:hover {
  background-color: var(--default-btn);
  cursor: not-allowed;
}

.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.checkbox-label input {
  margin-right: 5px;
}

.checkbox-label label {
  margin-bottom: 0px;
}

.friendship-actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.friendship-actions p {
  margin: 0;
  font-weight: bold;
}

.friendship-actions {
  position: relative;
}

a:not(.header a) {
  color: var(--default-btn);
}

a:not(.header a):hover {
  color: #0071e9;
}