* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.header a, .notifications-link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.header a:hover, .notifications-link:hover {
  color: #f2f2f2;
}

.header h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.header nav {
  display: flex;
  align-items: center;
}

.header a {
  margin-right: 20px;
}

.header nav a:last-child {
  margin-right: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  overflow: hidden;
}

.desktop-nav > .search-bar {
  margin-right: 30px;
}

.search-input {
  padding: 10px;
  border: none;
  outline: none;
  width: 150px;
  border-radius: 4px 0 0 4px;
}

.search-button {
  background-color: #4da6ff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  width: 50px;
  height: 100%;
  min-height: 38px; 
  transition: background-color 0.2s ease;
}

.search-button:hover, .friendship-actions button:hover {
  background-color: #0071e9
}

.search-button svg {
  width: 20px;
  height: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #0056b3;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.mobile-nav.open {
  display: block;
}

.overlay {
  width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
}

.desktop-nav {
  display: flex;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: -5px 0px 0px 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.mobile-nav-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-content a {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  text-decoration: none;
  margin-right: 0px;
}

.mobile-nav-content a:hover {
  color: #e5e5e5;
}

.mobile-nav-content > .search-bar {
  margin-top: 10px;
  margin-bottom: 50px;
  scale: 1.2;
}

.close-button {
  font-size: 50px;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

.main-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.main-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.footer:hover {
  background-color: #0055ff;
}

.introduction-container {
  max-width: 600px;
  margin: 5px 20px 30px 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.introduction-title {
  font-size: 24px;
}

.introduction-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.home h2 {
  margin-bottom: 20px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.friends-section {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd; /* Add a border */
  border-radius: 8px; /* Add some border radius for a softer look */
}

.section-title {
  margin-bottom: 10px;
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.see-all-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.see-all-link:hover {
  color: #0056b3;
}

.user-friend a {
  text-decoration: none;
}

.user-friend img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.post-section {
  width: 100%;
  max-width: 800px;
}

.post-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  word-wrap: break-word;
  resize: vertical;
}

.post-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  height: 50px;
}

.post-form button:hover {
  background-color: #0055ff;
}

.post {
  margin-bottom: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info p {
  margin: 0;
}

.post-info a, .comment-info a {
  text-decoration: none;
}

.post-author, .comment-author, .like-link, .remaining-likes {
  font-weight: 700;
  text-decoration: none;
}

.comment-section {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px;
}

.comment-name-date {
  display: flex;
  gap: 10px;
}

.delete-post, .delete-notification-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-notification-btn {
  font-size: 12px;
  padding: 4px 4px;
}

.delete-post:hover, .delete-notification-btn:hover {
  background-color: #c82333;
}

.post-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
  margin-bottom: 10px;
}

.post-content, .comment-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.like-button,
.comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.like-button:hover,
.comment-button:hover {
  background-color: #0055ff;
}

.likes {
  margin-right: 10px;
}

.comments {
  margin-top: 10px;
}

.comments-container {
  padding: 10px;
}

.comments-container textarea, .post-form textarea {
  font-family: inherit;
  font-size: 14px;
}

.show-more-comments-button, .submit-comment-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-comments-button:hover, .submit-comment-btn:hover {
  background-color: #0055ff;
}

.show-more-comments-button {
  margin: 0px 0px 10px 10px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.comments button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.comments button:hover {
  background-color: #0055ff;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.comment:first-child {
  border-top: none;
  padding-top: 0px;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.delete-comment {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-comment:hover {
  background-color: #c82333;
}

.comment-content {
  margin: 10px 0px 10px 0px;
}

.date {
  color: rgb(105, 105, 105);
  font-size: 14px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  width: 300px;
}

.form-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

:root {
  --primary-color: #3498db;
  --success-color: #28a745;
}

.login-button,
.register-button {
  background-color: var(--success-color);
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.register-button:hover {
  background-color: #169033;
}

.login-register-text,
.register-login-text {
  margin-top: 15px;
  font-size: 15px;
}

.login-register-text a,
.register-login-text a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.register-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form {
  width: 300px;
}

.notifications-dropdown {
  position: relative;
  display: inline-block;
}

.notifications-link {
  cursor: pointer;
}

.notification-icon {
  color: white;
}

.notification-count {
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  top: -5px;
}

.notifications-menu {
  position: absolute;
  top: 100%; 
  right: 0;
  max-height: 200px;
  width: 250px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mobile-notifications {
  display: none;
}

.notifications-menu h3 {
  padding: 10px;
  margin: 0;
  background-color: #007bff;
  color: #fff; 
  font-size: 16px;
}

.notifications-loading, .no-notifications {
  margin: 7px;
}

.notification-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7px;
  gap: 10px;
  margin-bottom: 10px;
}

.mark-all-read,
.clear-all {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  outline: none;
}

.mark-all-read:hover,
.clear-all:hover {
  text-decoration: underline;
}

.notifications-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notifications-menu li {
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #ccc;
}

.notifications-menu li:last-child {
  border-bottom: none;
}

.notification-timestamp,
.notifications-menu p {
  color: #333;
}

.notifications-menu strong {
  color: #007bff;
}

.notification {
  color: black;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-content {
  display: flex;
  align-items: center;
  margin-right: -20px;
}

.notification-image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}

.notification-text {
  font-size: 15px;
}

.notification-text strong {
  float: left;
  margin-right: 4px;
}

.unread {
  background-color: #dbe7ff;
}

.edit-profile-button, .save-changes-btn, .return-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.edit-profile-button:hover, .save-changes-btn:hover, .return-btn:hover {
  background-color:#0055ff;
}

.save-changes-btn {
  margin-bottom: 20px;
  margin-right: 20px;
}

.inactive {
  cursor: not-allowed;
  opacity: 0.7;
}

.inactive:hover {
  background-color: #007bff;
  cursor: not-allowed;
}

.edit-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.profile-picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture-section img {
  max-width: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 25px;
}

.edit-profile-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.edit-profile-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-upload-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.file-upload-btn:hover {
  background-color: #0055ff;
}

.file-input {
  display: none;
}

.select-container {
  display: flex;
  gap: 10px;
}

.select-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.checkbox-label input {
  margin-right: 5px;
}

.checkbox-label label {
  margin-bottom: 0px;
}

.save-changes-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.save-changes-btn:hover {
  background-color: #0055ff;
}

.user-list {
  margin-top: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.user-card-display-picture {
  margin-right: 10px;
}

.user-card-name {
  margin-bottom: 5px;
}

.user-card-name {
  display: flex;
  align-items: center;
}

.user-link {
  text-decoration: none; 
}

.you-text {
  margin-left: 5px;
  font-size: 80%; 
  color: gray; 
}

.user-card-display-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-card-details {
  flex-grow: 1;
}

.user-card-friendship-actions {
  display: flex;
  align-items: center;
}

.friendship-actions {
  display: flex;
  gap: 5px;
}

.friendship-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.friendship-actions p {
  margin: 0;
  font-weight: bold;
}

.display-picture img {
  max-width: 400px; 
  max-height: 400px;
}

.likes-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.likes-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.likes-popup-content {
  max-height: 300px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .header nav.desktop-nav {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .mobile-notifications {
    display: block;
  }
}