.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-top {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friends-section {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid var(--secondary-color)
}

.section-title {
  margin-bottom: 10px;
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.see-all-link {
  display: block;
  margin-top: 10px;
  color: var(--default-btn);
  text-decoration: none;
  transition: color 0.3s ease;
}

.see-all-link:hover {
  color: #0056b3;
}

.post-section {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}
