.user-list {
  margin-top: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: var(--default-btn);
  color: #fff;
  border: 1px solid var(--default-btn);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #0056b3;
}
