.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-btn);
  color: #fff;
  transition: background-color 0.3s ease;
}

.footer:hover {
  background-color: var(--default-btn-hover);
}
