.like-button {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.like-button:hover svg {
  filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
  scale: 1.03;
  transition: filter 0.3s ease, transform 0.3s ease;
  stroke: red;
}