.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a:last-child {
  margin-right: 0;
}

.header a:hover {
  color: var(--text-hover)
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-notifications {
  display: block;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  transition: background-color 0.3s ease;
}

.burger-menu {
  display: block;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu:hover .bar {
  background-color: var(--text-hover);
}

.desktop-nav {
  display: none;
}

.desktop-nav > .search-bar {
  margin-right: 30px;
}

.header nav.desktop-nav {
  display: none;
}

.burger-menu {
  display: block;
  cursor: pointer;
}

.mobile-notifications {
  display: block;
}

/* @media screen and (max-width: 768px) {
  .header nav.desktop-nav {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-notifications {
    display: block;
  }
} */
